
*{
    PADDING:0;
    margin:0;
}
header{
  
    background-color: black;
    height: 6em;
    border:2px solid black;
}
header img{
   
    margin: 1em;
    width: 15em;
    
    
}
.navbar{
    height: 5em;
}
body{
    background-image: url(/images/4.png);
    background-repeat: no-repeat;
   background-attachment: fixed;
   background-color: black;
   
  
}
h2{
    position: absolute;
    color: white;
   margin-left: 3em;
    padding: 1EM;
    padding-right: 1EM;

}
