*{
    padding: 0;
    margin: 0;
}
header{
    background-color: black;
    height: 6em;
    border:2px solid black;
}
header img{
    margin: 1em;
    
}
body{
    background-color: black;
}
.navbar{

    height: 5em;
margin-top: 1em;
    margin-bottom: 2em;
}

.caro{
   
    margin-right: 20px;
    height: 350px;
   
   
}
.imagesd img{
     border: 1px solid white; 
   margin-top: 15em;
   margin-left: 3em;
   width: 24em;
   height:15em
  
 
}
.imagesd2 img{
    margin-top: 2em;
}
footer{
    margin-top: 10em;
    text-align: center;
   
    padding: 2em;
}

.footer-end{
  
   margin-top: 20px;
 
   

}
footer a{

    padding: 3px;
    text-decoration: none;
    
}